<div class="p-0 rounded m-auto col-12 col-lg-10 col-xl-10 bg-light">
  <form class="d-flex m-0 mb-2 p-0 font-smaller border-bottom">
    <div class="input-group h-100">
      <span class="input-group-text rounded-0 h-100" id="basic-addon1">
        <mat-icon class="text-dark">search</mat-icon>
      </span>
      <input class="item-grop-text d-block m-0 rounded-0 border-0 flex-fill align-middle" [(ngModel)]="searchString" name="searchString"
        placeholder="Type book title or author name...">
      <button *ngIf="searchString" class="border-0 text-danger h4 m-0 bg-white" type="button"
        [routerLink]="['/search']" [queryParams]="{search: ''}" [queryParamsHandling]="'merge'"
        (click)="searchString = ''">&times;
      </button>
    </div>
    <button class="btn btn-success rounded-0 w-25" type="button" [routerLink]="['/search']"
      [queryParams]="{search: searchString}" [queryParamsHandling]="'merge'">Search</button>
  </form>
  <div class="row">
    <div class="col-12 col-lg-3 m-2">
      <ul class="list-group">
        <li class="list-group-item p-2 bg-light">
          Genres:
        </li>
        <li class="list-group-item p-0">
          <a class="nav-link btn-outline-success" [routerLink]="['/search']" routerLinkActive="btn-success text-white"
            [queryParams]="{genre: ''}" [queryParamsHandling]="'merge'">
            All
          </a>
        </li>
        <li class="list-group-item p-0" *ngFor="let genre of genres">
          <a class="nav-link btn-outline-success" [routerLink]="['/search']" routerLinkActive="btn-success text-white"
            [queryParams]="{genre:genre._id}" [queryParamsHandling]="'merge'">

            {{genre.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-8">
      <div class="text-right text-secondary">Found: {{books.length}}</div>
      <div *ngFor='let book of books' class="m-0 p-0">
        <app-book-item [book]='book' [searchString]="searchString"></app-book-item>
      </div>
    </div>
  </div>
</div>