<div class="p-3 border rounded m-auto col-12 col-lg-10 bg-white">
  <div class="row">
    <div class="col-12 col-lg-3">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
        class="w-100" alt="">
    </div>
    <div class="col">
      <div class="h4">{{ user?.username}}</div>
      <div class="">{{ user?.email}}</div>
    </div>
  </div>
  
  <div class="h5 mt-3"> Orders: </div>
  <ul>
    <li *ngFor="let order of orders" class="row">
      <div class="col">Book: {{order.book.name}}</div>
      <div class="col">Language: {{order.edition.language}}</div>
      <div class="col">Print year: {{order.edition.pablishedYear}}</div>
      <div class="col">Order date: {{order.orderDate}}</div>
      <div class="col">Return date: {{order.returnDate}}</div>
    </li>
  </ul>
</div>
