/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

input, a, button {
    outline: none !important;
}

input:focus, a:focus, button:focus {
    outline: none !important;
}

body{
    background-image: url('./assets/photo.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}
