/* You can add global styles to this file, and also import other style files */
@import url('@angular/material/prebuilt-themes/deeppurple-amber.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
input, a, button {
    outline: none !important;
}

input:focus, a:focus, button:focus {
    outline: none !important;
}

body{
    background-image: url('./assets/photo.jpg');
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
