<div class="text-center text-light align-items-start justify-content-center aling-start mb-5 mt-5 p-4">
  <div class="h1 m-auto">
    Welcome!
  </div>
  <div class="col-12 col-lg-4 col-xl-4 d-block m-auto p-2">
    <button class="btn btn-success btn-block rounded-0 p-3" [routerLink]="['/search']"
      routerLinkActive="router-link-active">
      <span class="h4 font-weight-light">Get your books</span><span class="h3">
        <mat-icon class="align-middle">arrow_forward</mat-icon>
      </span></button>
  </div>
</div>


<div
  class="m-auto row mx-2 align-items-start justify-content-center aling-start mt-2 col-12 col-lg-10 col-xl-10">
  <div>
  </div>
  <div class="col-12 col-lg-9">
    <div class="bg-light shadow p-2"> 
      <div class="h4">Top books</div>
      <app-book-item *ngFor="let book of topbooks" [book]="book" class=""></app-book-item>
    </div>
  </div>
  <div class="col-12 col-lg-3 bg-light align-self-start">
    <div class="h4 m-2">Top authors</div>
    <div *ngFor="let author of topauthors" class="row bg-white shadow-sm p-0 m-2">
      <img *ngIf="!author.photo" src="../../../assets/UserPlaceholder.png" alt="" class="col-12 p-0 m-0">
      <img *ngIf="author.photo" src="{{author.photo}}" alt="" class="col-12 p-0 m-0">
      <div class="col-12 d-flex align-items-start flex-column p-0">
        <div class="p-2 h5">{{author.fullName}}</div>
        <div class="flex-fill"></div>
        <button mat-raised-button color="grean" class="bg-success mb-0 text-white align-self-end btn-block rounded-0 m-0"
          [routerLink]="['/search/']" [queryParams]="{search: author.pseudonym}">Books</button>
      </div>

    </div>
  </div>
</div>